/* ================================================BODY============================================================= */

.container1{
    display: flex;
    margin-top: 6em;
    width: 50%;
  
}

#theGreetLabel{
  
        margin:2em;
         font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
            font-size:x-large;
            font-weight: 300;
            
        }
        
        .labelDiv{
             padding-left:15em;
             margin-left: 9em;
            display:flex;
            width:25%;
            background-color: rgb(228, 215, 209);
            border: lightgrey solid 1px;
        }

#counterLabel{
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size:xx-large;
    font-weight: 400;
    padding-left: 13em;
    margin:1em;

}
.counterDiv{
display: flex;
}

#userName{
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size:x-large;
    font-weight: 300;
    padding-left: 9em;
    margin:1em;
    
}

.inputDiv{
display:flex;
padding-left: 11em;
}

.languageDiv{
    display:flex;
    flex:1;
    margin-left:18em;
    padding:1em;
        font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: large;
        font-weight: 200;
    }

.buttonTag{
    padding: 2em;
 background-color: rgb(228, 215, 209);
  font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: large;
    font-weight: 200;
}

.buttons{
     display:flex;
    padding: 5%;
    margin-left: 14em;
}

#resetCounterButton{
    margin-left:1em;
}





/* ==================================MEDIA QUEIRIES================================================= */

@media(max-width:650px){
    .main{
      display: inline-block;
      width: auto;
    }

}

@media(max-width:650px){
   
        #userName{
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size:x-large;
    font-weight: 300;
   padding:0;
   margin:auto;
    
    
}
       
    }
    @media(max-width:650px){
   
       .inputDiv{

  padding-left: 0;
}
       
    }



    @media(max-width:650px){
        .labelDiv{
          display:inline-block;
            padding: 0;
            margin: auto;
            border: none;
            background-color: white;  
        }
    }


@media(max-width:650px){
    #counterLabel{
 font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size:xx-large;
    font-weight: 400;
   padding:1em;
    margin:auto;
    
    }
}



@media(max-width:650px){

.languageDiv{
    display: column;
    padding-left: 4em;
     margin: 2em;
   
}
}

  
@media(max-width:650px){
   .buttons{
     display:column;
    padding: 0;
    margin:auto;
}
}
