/* ================================================BODY============================================================= */

body{
    display: flex;
    margin-top: 6em;
  
}

.inputTag{
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;
    
}

.inputDiv{
    padding: 5%;
    margin-right: 1em;
    border: 1px groove rgb(236, 234, 234);
     flex : 2;
    background-color: rgb(223, 183, 195);
}


#greetbtn{
    
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;
    
}

.buttonDiv{
    padding: 5%;
    margin-left: 1em;
    border: 1px groove rgb(238, 234, 234);
     flex : 1;
    background-color: rgb(228, 215, 209);
}

.labelDivs{
    padding: 5%;
    margin-left: 1em;
    border: 1px groove rgb(238, 234, 234);
     flex : 1;
    background-color: rgb(228, 215, 209);   
}


/* ==================================MEDIA QUEIRIES================================================= */

@media(max-width:650px){
    body{
      display: inline-block;
    }

}

@media(max-width:650px){
    .inputDiv{
        padding: 5px;
        margin: auto;
        border: 1px groove rgb(236, 234, 234);
        background-color: rgb(223, 183, 195);
    }
}
@media(max-width:650px){
    .buttonDiv{
        padding: 5%;
        margin: auto;
        border: none;
        background-color: white;
    }
}

@media(max-width:650px){
    .labelDivs{
        padding: 5%;
        margin: auto;
        border: none;
        background-color: white;  
    }
}

@media(max-width:655px){
    .greetLabelDiv{ 
        font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: x-large;
        font-weight: 300;
        padding: 0;
        border: 1px groove rgb(236, 234, 234);
        background-color: rgb(252, 252, 252);
       

        
    }
}

/* @media(max-width:830px){
    #greetbtn{
    
        font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: x-large;
        font-weight: 300;
        padding: 0;
        margin-left: 30%;
       
    }
} */

