/* ================================================BODY============================================================= */

.container1{
    display: flex;
    margin-top: 6em;
  
}

.inputTag{
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;
    
}

.inputDiv{
    padding: 5%;
    margin-right: 1em;
    border: 1px groove rgb(236, 234, 234);
     flex : 2;
    background-color: rgb(223, 183, 195);
}


#greetbtn{
    
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;
    
}

.buttonDiv{
    padding: 5%;
    margin-left: 1em;
    border: 1px groove rgb(238, 234, 234);
     flex : 1;
    background-color: rgb(228, 215, 209);
}

.labelDivs{
    padding: 5%;
    margin-left: 1em;
    border: 1px groove rgb(238, 234, 234);
     flex : 1;
    background-color: rgb(228, 215, 209);   
}

.languageDivs{
    display: flex;
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;
}

.languageLabels{
/* flex-basis: 100%; */
margin: auto;
padding: 3em;
border: groove 0 rgb(238, 228, 219);
}
.resetCounterDiv{
    padding: 3em;
    display: flex;

}

.resetCounter{

    margin: auto;
padding: 3em;
border: groove 0 rgb(238, 228, 219);
font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: large;
    font-weight: 300;
}


/* ==================================MEDIA QUEIRIES================================================= */

@media(max-width:650px){
    .container1{
      display: inline-block;
    }

}

@media(max-width:650px){
    .inputDiv{
        padding: 5px;
        margin: auto;
        border: 1px groove rgb(236, 234, 234);
        background-color: rgb(223, 183, 195);
    }
}
@media(max-width:650px){
    .buttonDiv{
        padding: 5%;
        margin: auto;
        border: none;
        background-color: white;
    }
}

@media(max-width:650px){
    .labelDivs{
        padding: 5%;
        margin: auto;
        border: none;
        background-color: white;  
    }
}

@media(max-width:655px){
    .greetLabelDiv{ 
        font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: x-large;
        font-weight: 300;
        padding: 0;
        border: 1px groove rgb(236, 234, 234);
        background-color: rgb(252, 252, 252);
       

        
    }
}

/* @media(max-width:830px){
    #greetbtn{
    
        font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: x-large;
        font-weight: 300;
        padding: 0;
        margin-left: 30%;
       
    }
} */

@media(max-width:650px){

.languageDivs{
    padding-top: 0.2em;
    flex-direction: column;
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
    font-size: x-large;
    font-weight: 300;

}
}
@media(max-width:650px){
    
    .languageLabels{
    margin: 0;
    padding: 0.5em;
    border: groove 0 rgb(238, 228, 219);
    }
    
    }

    @media(max-width:650px){
    .resetCounterDiv{
        padding: 0;
        display: inline-block;
    
    }
}
@media(max-width:650px){
    .resetCounter{
    
        margin: auto;
    padding: 1em;
    border: groove 0 rgb(238, 228, 219);
    font-family:  Ubuntu, 'Helvetica Neue', sans-serif ;
        font-size: large;
        font-weight: 300;
    }
}
